<div class="studentTable">
    <p-table [value]="getUsers" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Fav_Bikes</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.bikes}}</td>
                <td><button (click)="edit(user.id)">Edit</button> <button (click)="delete(user.id)">Delete</button></td>
            </tr>
        </ng-template>
    </p-table>
    


<!-- 
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of getUsers">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.gender}}</td>
                <td><button (click)="edit(user.id)">Edit</button> <button (click)="delete(user.id)">Delete</button></td>
            </tr>
        </tbody>
    </table> -->
</div>