<section>
    <div class="grid signInPage">
        <div class="col-6 signForm">
            <div class="signIN">
                <div class="signFormLogo">
                    <img src="../../assets/Frame.svg" alt="">
                </div>
                <span class="signInHeader">Sign In</span>
                <div class="signInput">
                    <form action="" #myform="ngForm">
                        <div class="inputField1">
                            <label>Email ID</label>
                            <input pInputText id="email" aria-describedby="username-help" name="email" placeholder="Email" [(ngModel)]="email"/>
                        </div>
                        <div class="inputField1">
                            <label htmlFor="username">Password</label>
                            <input pInputText id="password" aria-describedby="username-help" placeholder="Password" name="password"[(ngModel)]="password"/>
                            <span *ngIf="loginResponse">Invalid email or password</span>
                        </div>
                        <div class="button-sign">
                            <p-button label="Sign In" (click)="login(myform.value)"></p-button>
                        </div>  
                        <div class="signInLink">Don't have an Account? <a routerLink="">Sign Up</a></div>
                    </form>
                </div>
                <div>
                    <div class="para">
                        <p>
                            By Creating an account,you agree to our <a href="">Terms of service</a> and <a
                                href="">Privacy Policy</a>
                        </p>
                    </div>
                    <div class="CopyRightsPara">
                        © 2022 NOQU. All rights reserved.
                    </div>
                </div>
            </div>
            <!-- {{myform.value|json}} -->
        </div>
        <div class="col-6 signInImage">
            <img src="../../assets/Union.svg" alt="">
        </div>

    </div>
</section>
